* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/background-6pm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.up-opacity-on-hover:hover {
  opacity: 0.9;
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#welcome-section #welcome-container {
  display: flex;
  flex-direction: column;
}
#welcome-section #welcome-container #welcome-greeting {
  align-self: center;
  font-size: 2em;
  opacity: 1;
}
#welcome-section #welcome-container #name {
  align-self: center;
  text-align: center;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  margin-top: 20px;
  font-size: 1.7em;
  color: rgba(240, 248, 255, 0.9);
  font-weight: bold;
}

#momentum {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  width: 100%;
  visibility: hidden;
}
#momentum #momentum-container {
  text-align: center;
  grid-row: 3/6;
  margin-top: -60px;
}
#momentum #momentum-container #clock-greeting #clock {
  font-size: 1050%;
  font-weight: 500;
  letter-spacing: -5px;
}
#momentum #momentum-container #clock-greeting #timely-greeting {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  margin-top: -10px;
  width: 100%;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.95);
}
#momentum #momentum-container #clock-greeting #timely-greeting:hover {
  color: rgba(255, 255, 255, 0.6);
}
#momentum #momentum-container #focus-no-input {
  margin-top: 65px;
}
#momentum #momentum-container #focus-no-input #focus-question {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.5px;
}
#momentum #momentum-container #focus-no-input #focus-input {
  background: none;
  outline: none;
  border: none;
  width: 30%;
  border-bottom: 2px solid white;
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.35px;
}
#momentum #momentum-container #focus-with-input {
  display: none;
}
#momentum #momentum-container #focus-with-input #focus-h1 {
  margin-top: 15px;
  font-size: 20px;
}
#momentum #momentum-container #focus-with-input #focus-buttons-div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: flex;
  align-items: baseline;
  gap: 20px;
}
#momentum #momentum-container #focus-with-input #focus-buttons-div:hover > #checkbox-focus {
  opacity: 1;
}
#momentum #momentum-container #focus-with-input #focus-buttons-div:hover > #focus-delete {
  opacity: 1;
}
#momentum #momentum-container #focus-with-input #checkbox-focus {
  transform: scale(1.3);
  accent-color: grey;
  cursor: pointer;
  margin-left: auto;
  opacity: 0;
}
#momentum #momentum-container #focus-with-input #focus-answer {
  font-size: 40px;
  line-height: 60px;
  max-width: 70%;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}
#momentum #momentum-container #focus-with-input #focus-delete {
  font-size: 20px;
  cursor: pointer;
  padding: 3px;
  margin-right: auto;
  opacity: 0;
}
#momentum #momentum-container #focus-with-input #great-job {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
}

#todo-button {
  padding-right: 25px;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgba(240, 248, 255, 0.5);
  background-color: transparent;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

#todo-button:hover {
  color: rgba(240, 248, 255, 0.9);
}

#task-container {
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  right: 10px;
  bottom: 65px;
  width: 300px;
  max-height: 350px;
  overflow-y: scroll;
  list-style-type: none;
}
#task-container #tasks-legend {
  margin-bottom: 20px;
}
#task-container #task-input {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 5px;
}
#task-container #todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 280px;
  overflow-y: scroll;
  gap: 2px;
  list-style-type: none;
}
#task-container .edit-task-button,
#task-container .delete-task-button {
  margin-left: 10px;
  color: rgba(240, 248, 255, 0.5);
}
#task-container .edit-task-button:hover,
#task-container .delete-task-button:hover {
  cursor: pointer;
  color: rgba(240, 248, 255, 0.9);
}

.new-task-li {
  margin-bottom: 5px;
  display: flex;
}

.checkbox-input {
  transform: scale(1.2);
  accent-color: grey;
  cursor: pointer;
}

.new-task-span {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-buttons {
  padding: 10px;
  margin-top: -10px;
  right: 0;
}

.edit-task-button {
  cursor: pointer;
  opacity: 0.6;
}

.edit-task-button:hover {
  opacity: 0.95;
}

.delete-task-button {
  margin-left: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.delete-task-button:hover {
  opacity: 0.95;
}

#icons-and-displayed-quote {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 50px;
  bottom: 2px;
  width: 100%;
}
#icons-and-displayed-quote #quotes-settings {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 25px;
  color: rgba(240, 248, 255, 0.5);
  font-size: larger;
  transform: rotate(0deg);
  transition-duration: 1000ms;
}
#icons-and-displayed-quote #quotes-settings:hover {
  transform: rotate(20deg);
  transition-duration: 1000ms;
}
#icons-and-displayed-quote #displayed-quote {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(240, 248, 255, 0.97);
}

#quotes-legend {
  display: none;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  left: 10px;
  bottom: 340px;
  width: 350px;
  justify-self: start;
}

.fa-pen-to-square {
  position: absolute;
  right: 0;
  top: 0.5;
  margin-right: 6px;
  margin-top: 0.5px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgba(240, 248, 255, 0.5);
  font-size: 20px;
}

.fa-pen-to-square:hover {
  color: rgba(240, 248, 255, 0.9);
}

#quotes-pop-up {
  display: none;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  left: 10px;
  bottom: 65px;
  width: 350px;
  height: 280px;
  overflow-y: auto;
}
#quotes-pop-up #quotes-ul {
  list-style-type: none;
}

#new-quote-container {
  display: none;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin-left: 10px;
  bottom: 390px;
  width: 350px;
  gap: 10px;
  position: absolute;
}
#new-quote-container #new-quote-input {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 5px;
  font-weight: 200;
  font-size: 1em;
  border: none;
}

.quote-new-li {
  margin-bottom: 12px;
}

.delete-quote-button,
.edit-quote-button {
  font-size: 15px;
  margin-left: 10px;
  visibility: hidden;
  opacity: 0.5;
  cursor: pointer;
}

.quote-new-li:hover > .delete-quote-button,
.quote-new-li:hover > .edit-quote-button {
  visibility: visible;
}

.delete-quote-button:hover,
.edit-quote-button:hover {
  opacity: 0.9;
}/*# sourceMappingURL=styles.css.map */